{% extends "layout.html" %}

{% block title %}Clubs - MLS Analytics Hub{% endblock %}

{% block content %}
    <h1>MLS Clubs</h1>
    <p>Here is the list of MLS clubs with additional details.</p>

    <a href="{{ url_for('main.add_club_page') }}" class="btn btn-primary mt-2">Add Club</a>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Club Name</th>
                <th>Club Abbreviation</th>
                <th>Club Badge</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
                <tr>
                    <td>{{ club[0] }}</td>
                    <td>{{ club[1] }}</td>
                    <td><img src="{{ club[2] }}" alt="{{ club[0] }} Badge" width="50"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
