{% extends "layout.html" %}

{% block title %}Clubs - MLS Analytics Hub{% endblock %}

{% block content %}
    <br>
    <br>
    <h1>MLS Years</h1>
    <p>Here is the list of MLS years.</p>

    <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='img/Years-banner.png') }}" alt="Competitions Banner" class="img-fluid" style="width: 100%; height: 300px;   max-width: 100%; border: 1px solid #ddd; padding: 10px;">
    </div>

    <!-- Flash Messages for Feedback -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="alert alert-info" role="alert">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <!-- Years Table -->
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Year</th>
                <th><a href="{{ url_for('main.add_year_page') }}" class="btn btn-primary mt-2" style="margin-left: 15px;">Add Year</a></th>
            </tr>
        </thead>
        <tbody>
            {% for year in years %}
                <tr>
                    <td>{{ year[1] }}</td>
                    <td>
                        <a href="{{ url_for('main.edit_year', year_id=year[0]) }}" class="btn btn-primary mt-2">Edit</a>
                        <form action="{{ url_for('main.delete_year', year_id=year[0]) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger mt-2" onclick="return confirm('Are you sure you want to delete this year?');">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}